.wrapper {
  position: relative;
}

.video {
  height: 100%;
  width: 100%;
}

.player {
  background-color: transparent;
  background-image: url(assets/player.png);
  background-position: center center;
  background-size: contain;
  border: 0;
  height: 128px;
  inset: 0;
  margin: auto;
  position: absolute;
  width: 128px;
}

.hidden {
  opacity: 0;
}

.actions {
  bottom: 128px;
  position: absolute;
  right: 16px;
}

.action {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}