.App {
  background: #000;
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-content: center;
}

main {
  border-radius: 3px;
  display: block;
  max-width: 375px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100vw;
}