body {
  margin: 0;
  font-family: Arial, Tahoma, sans-serif, 'Segoe UI Emoji', 'Noto Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}